.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: slideRight 1s;
  margin-top: 50px;
}

@media screen and (max-width: 900px) {
  .about-wrapper {
  }
}

@media screen and (max-width: 600px) {
  .about-wrapper {
    margin-bottom: 80px;
  }
}
