@import "../../App.scss";

.background-wrapper {
  background-color: $SoftWhite;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -1;
  top: 0;
}

.logo {
  background: url(../../assets/logo.png) no-repeat center;
  position: absolute;
  top: 100px;
  left: 150px;
  width: 140px;
  height: 80px;
}

.shadow {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #bbbbbb 0%,
    rgba(218, 218, 218, 0) 50%
  );
  position: absolute;
  height: 200px;
  width: 100%;
  bottom: 10px;
}

@media screen and (max-width: 900px) {
  .logo {
    top: 15px;
    left: 15px;
  }
}
